h2{
    margin: 30px 30px 10px 30px;
}
.container{
    padding: 20px 30px;
    width: 100%;
    height: 300px;
    border-color: peachpuff;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    margin: 10px;

}
.div {
    border-style: solid;
    border-color: greenyellow;
    border: 3px;
    background-color: lightgoldenrodyellow;
    width: 30%;
    height: 250px;
    border-radius: 15px;
    float: right;
    margin: 10px 10px;

}
.img{
    float: right;
    margin: 5px 80px;

}
.dokmeha{
    margin: 10px 80px;
    width: 180px;

}
.button0{
    float: right;
    border-radius: 9px;
    width: 90px;
    height: 30px;
}
.button1 {
    float: left;
}
